@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerLink {
  position: relative;
  text-decoration: none;
  color: rgb(54, 27, 27);
  font-size: 40px;
  padding: 20px;
  margin-right: 25px;
  display: inline-flex;
  transition: all.3s;
  text-shadow: 1px 2px 2px #272121a6;
}
.headerLink.active {
  text-decoration: solid;
  color: rgb(8, 75, 198);
}